<main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">Dashboard</h1>
      <a href="/newpost" class="btn btn-primary">Create a new Post here</a>
    </div>
  </div>
  <br>
  <h1 class="mb-4">Previous Blog posts:</h1>
  {{#each posts}}  <!-- each post will be displayed in a card -->
    <div class="post-container post mb-3">
      <h2><a href="/post/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
      <p>Created by: {{user.username}} | Date: {{format_date createdAt}}</p>  <!-- format_date is a helper function -->
      <a href="/editpost/{{id}}" class="btn btn-warning">Edit Post</a>
      <button class="btn btn-danger delete-post" data-post-id="{{id}}">Delete</button>
    </div>
  {{/each}}
</main>
